PORT=3000
NODE_ENV=development
FRONTEND_ORIGIN=http://localhost:5173

DB_HOST=localhost
DB_PORT=3392
DB_USER=root
DB_PASSWORD=
DB_NAME=forbist

JWT_SECRET=
JWT_EXPIRES_IN=1d

OPENAI_API_KEY=
MARKET_API_KEY=